{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    
{% endblock %}

{% block css %}

   <link href="{% static 'css/fa.css' %}" rel="stylesheet" type="text/css" media="all">
   <style>
.cc{
  padding: 10px;
  color: white;
}
.pagination .page-item{
  border: 1px solid black;
}
.product-new-label{
  color:#fff;
  background-color:rgba(255, 0, 0, 0.78);
  font-size:13px;
  font-weight:800;
  line-height:25px;
  height:25px;
  width:54px;
  position:absolute;
  left:8px;
  text-align: center;
  top:8px;
  transition:all .3s
}

   </style>
{% endblock %}


{% block body %}

<div class="container">


<form method = "GET" action =''>

<div class="row">

<div class="form-group col-sm-6 ">
  <input type="text" name='q' style="height: 50px; background: transparent" class="form-control text-white bb" placeholder="Search" value =" {{ search_term}}" />
  
</div>

<div class="form-group col-sm-6">
<button type="submit" class="btn bt " style="height:50px; width: 150px; font-size: 23px; border: 3px solid black;"><i class= "fa fa-search"></i>  Search</button>

</div> 
</div>
<form>
<br>


 <div class="row" style="margin-top: -20px;">
 {% for post in users %}  
  <div class="col-sm-3">
    <div class="card" style="margin-top: 10px;">
    <a href="{% url 'rmovie:product_detail' post.pk %}">
     <img class="card-img-top image" src="{% if post.murl %}{{ post.murl }} {% else %}http://www.markweb.in/primehouseware/images/noimage.png {% endif %}" alt="{{ post.cname }}" style="height: 350px; border: 2px solid rgba(137, 255, 162, 0.78);  ">
     <span class="product-new-label">{{post.quality }}</span>
      <div class="middle">
        <p class="cc" style="margin-bottom: 80px;">{{ post.mdate|date:'Y-m-d' }}</p>
        <p class="cc">{{ post.name  }}</p>
        <p class="cc" style="margin-top: 80px;"><i class="fa fa-star-o" style="color: green;"></i>  {{ post.rating }}</p>
      </div></a>
    </div>
  </div>

{% endfor %}

{% comment %} <div class="col-sm-2">
  <input type="text" name='q' style="height: 50px; width: 210px;  background: transparent" class="form-control text-white bb" placeholder="Search" value =" {{ search_term}}" />
</div>

<div class="col-sm-1">
<button type="submit" class="btn bt " style="height:50px; width:50px; margin-left: 20px; "><i class= "fa fa-search btn"style="margin-left: -10px; " ></i></button>
</div>  {% endcomment %}


</div>
</div>




{% if users.has_other_pages %}
<hr style="border-width: 2px; border-color: rgba(137, 255, 162, 0.78)">
<div class="container justify-content-center " style="margin-top: 30px;" >
<center>
<ul class="pagination justify-content-center" style ="margin: 0 auto; width 300px;">
    {% if users.has_previous %}
      <li class="page-item"><a href="?page={{ users.previous_page_number }}" class="btn btn-danger">&laquo;</a></li>
    {% else %}
      <li class="disabled btn btn-danger"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="page-item active"><span  class="btn btn-warning" >{{ i }} <span class="sr-only" class="btn btn-primary">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li class="page-item"><a href="?page={{ users.next_page_number }}" class="btn btn-success">&raquo;</a></li>
    {% else %}
      <li class="disabled btn btn-success"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  </center>
  </div>
{% endif %}


 

{% endblock %}