{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ moviee.name }}
{% endblock %}

{% block css %}
<link href="{% static 'css/fa.css' %}" rel="stylesheet" type="text/css" media="all">
<style>

#fact1 {
background: url("{{ moviee.murl }}") center top no-repeat fixed;
background-size: cover;
padding: 40px 0 ;
position: relative;
}
#fact1::before {
content: '';
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: rgba(5, 5, 5, 0.78);
z-index: 0;
}


#fact1 .container {
position: relative;
z-index: 10;


}
.c{
  padding: 10px;
  color: white;
 
}

.product-new-label{
  color:#fff;
  background-color:red;
  font-size:13px;
  font-weight:800;
  line-height:25px;
  height:25px;
  width:54px;
  position:absolute;
  left:8px;
  text-align: center;
  top:8px;
  transition:all .3s
}
@media only screen and (max-width: 600px) {
.if{
  height: 250px;
}

}



</style>

{% endblock %}


{% block body %}

<div id="fact1" >

<div class="container">

  <div class="row container" style="margin-top: 70px;">
    <div class="col-md-5">
    <img class="card-img-top image" src="{% if moviee.murl %}{{ moviee.murl }} {% else %}http://www.markweb.in/primehouseware/images/noimage.png {% endif %}" alt="{{ post.name }}" style="height: 480px; > <!--"-->
   
    </div>
    <div class="col-md-7" >
        <h1 class="name">{{ moviee.name }}</h1>
        <p class="star" ><i class="fa fa-calendar" style="color:rgba(137, 255, 162, 0.78)"></i>  {{ moviee.mdate|date:'Y-m-d' }} 
       <span style="margin-left: 20px;"><i class="fa fa-star-o" style="color:rgba(137, 255, 162, 0.78)"></i>  {{ moviee.rating }}/10 </span>
       <span style="margin-left: 20px;"><i class="fa fa-clock-o" style="color:rgba(137, 255, 162, 0.78)"></i>  {{ moviee.movietime }} </span></p>
       <p class="star" ><i class="fa fa-film" aria-hidden="true" style="color:rgba(137, 255, 162, 0.78)"></i>  {{ moviee.mtype  }}</p>
       <h2 style="color:rgba(137, 255, 162, 0.78); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{ moviee.body  }}</h2>
       <h5 class="star" style="text-align:justify">{{ moviee.description|safe  }}</h5>
       <h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;"><i class="fa fa-user" style="color:rgba(137, 255, 162, 0.78)"></i>  Director : <span class="star">{{ moviee.director  }}</span></h6>
       <h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;"><i class="fa fa-users" style="color:rgba(137, 255, 162, 0.78)"></i>  Main Cast : <span class="star">{{ moviee.maincast  }}</span></h6>
    </div>
  <div>





<div class="headerr container" style="margin-top: 30px;">
<h2 style="color:rgb(236, 233, 233);" >{{ moviee.name }} Trailer </h2><hr style="border-width: 2px; border-color:rgba(137, 255, 162, 0.78) " />

<iframe class="col-md-12 if" height="470px;" src="{% if moviee.ytube %}{{ moviee.ytube }} {% else %}https://www.youtube.com/watch?v=05DqIGS_koU {% endif %}" ></iframe>

</div>

<div class="headerr container" style="margin-top: 30px;">
<h2  style="color:rgb(236, 233, 233);" >Cast And Crews </h2><hr style="border-width: 2px; border-color:rgba(137, 255, 162, 0.78) " />
<div class="row " style="">
{% for postt in moviee.get_cast %}
  <div class="col-sm-2" style="margin-top: 15px;">
    <div class="card">
    <a href="">
     <img class="card-img-top ig image" src="{% if postt.murl %}{{ postt.murl }} {% else %}http://www.markweb.in/primehouseware/images/noimage.png {% endif %}" alt="{{ postt.name }}" style="height: 210px; border: 1px solid rgba(137, 255, 162, 0.78) ; " >
      <div class="middle">
        <p class="c">{{ postt.cname }}</p>
        <p class="c">{{ postt.role }}</p>
        <p class="c">{{ postt.cmname }}</p>
      </div></a>
    </div>
  </div>
{% endfor %}
  </div></div>
  
  <div class="headerr container" style="margin-top: 30px;">
  <h2 style="color:rgb(236, 233, 233);" >Recommended Movies</h2><hr style="border-width: 2px; border-color:rgba(137, 255, 162, 0.78) " />
<div class="row">
 {% for post in  most_recent %}  
  <div class="col-sm-3" style="margin-top: 15px;">
    <div class="card">
    <a href="{% url 'rmovie:product_detail' post.pk %}">
     <img class="card-img-top image" src="{{ post.murl }}" alt="{{ post.name }}" style="height: 300px; border: 2px solid rgba(137, 255, 162, 0.78)">
     <span class="product-new-label">{{post.quality }}</span>
      <div class="middle">
        <p class="cc" style="margin-bottom: 60px;">{{ post.mdate|date:'Y-m-d' }}</p>
        <p class="cc">{{ post.name  }}</p>
        <p class="cc" style="margin-top: 60px;"><i class="fa fa-star-o" style="color: green;"></i>  {{ post.rating }}</p>
      </div></a>
    </div>
  </div>
{% endfor %}
  </div>


  <div class="headerr container " style="margin-top: 30px;">
  <h2 style="color:rgb(236, 233, 233);" >Movie Watch Link</h2><hr style="border-width: 2px; border-color:rgba(137, 255, 162, 0.78) " />
    <div class="row">

      <div class="col-sm-6" style="margin-top: 15px;">
  {% for move in movie.get_link %} 
      {{ move.role }}
  {% endfor %}
      </div>
   
      </div>
  </div>


<div class="headerr container" style="margin-top: 30px;">
<h2 style="color:rgb(236, 233, 233);" >{{ moviee.name }} Details </h2><hr style="border-width: 2px; border-color:rgba(137, 255, 162, 0.78) " />
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Status:  <span class="star">{{moviee.detai.Status}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Original Title:  <span class="star">{{moviee.detai.name}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Original Language:  <span class="star">{{moviee.detai.Language}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Budget:  <span class="star">$ {{moviee.detai.Budget }} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Revenue:  <span class="star">$ {{moviee.detai.Revenue}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Production Companies:  <span class="star">{{moviee.detai.Production_Companies}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;">Production Country:  <span class="star">{{moviee.detai.Production_Country}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;"> Ratiing:  <span class="star"><i class="fa fa-star-o" style="color:rgba(137, 255, 162, 0.78)"></i> {{moviee.rating}} </span></h6>
<h6 style="color:rgba(137, 255, 162, 0.78); margin-top:15px;"> -18:  <span class="star">{{moviee.detai.adult}} </span></h6>
</div>

<div class="headerr" style="margin-top: 30px;">
<h2 style="color:rgb(236, 233, 233);" >Reviews And Like </h2><hr style="border-width: 2px; border-color:rgba(137, 255, 162, 0.78) " />
<div class = "">
<div class="fb-like "  data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="large" data-mobile="Auto-detected" data-show-faces="true" data-share="true" style="color: green;"></div>
</div>

{% comment %} <div class = "">

<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-colorscheme="dark" data-mobile="Auto-detected" data-numposts="10" ></div>
</div> {% endcomment %}

<div id="disqus_thread" class="bg-white" style="padding:15px; margin-top:10px;"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://MovieRahul.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

                            

</div>
</div></div></div>
</div>




{% endblock %}